[Desktop Entry]
Name=Obsidian FolderOpen
Exec=bash -c 'if [ -n "$1" ]; then mdir="$(dirname "$1")"; mbase="$(basename "$1" .folderopen)"; newdir="${mdir}/${mbase}"; mkdir -p "$newdir"; xdg-open "$newdir"; else xdg-open; fi' _ %f
Type=Application
Terminal=false
MimeType=application/x-folderopen;
Categories=Development;Editor;
